<html>
<head>
    <title>Just do some task</title>
    <link rel="stylesheet" href="/assets/css/site.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <sytle>
    </style>
</head>
<body>
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar" role="navigation">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <p class="navbar-text navbar-left"><a  class="text-nav" href="/todo">Todo</a></p>
                      <p class="navbar-text navbar-left"><a  class="text-nav" href="/completed">Completed</a></p>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                      <p class="navbar-text navbar-right"><a class="navbar-link" href="/logout">Logout</a></p>
                      <p class="navbar-text navbar-right"><a class="navbar-link" href="">Signed in as <%= user.displayName %></a></p>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                 <h2>All Completed</h2> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">  
                <ul class="list-group complete-ul"><br>
                    <% for(var i = complete.length -1; i >= 0; i--) { %>
                        <% 
                              var dbDate = complete[i].date;
                              var date = moment(dbDate,'hour').fromNow();
                        %>
                        <li class=" text-center complete-li"><%=  complete[i].item %> <span class="time-ago"><%= date %></span></li> 
                        
                    <% } %>
                </ul>
            </div>  
        </div>      
      <div>                 
        
</body>
</html>
