<html>
<head>
    <link rel="stylesheet" href="/assets/css/site.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body> 

        <div class="row">
              <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                      <p class="navbar-text navbar-right"></p>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
         <div class="col-md-6 vcenter">
          <div class="row">
            <h1>TODO</h1>
           </div>
           <div class="row">
              <p>TODO is a web application for list your task to do, Whether it be reading a book,
              walking with dog and anything do you want to do.You can login by facebook, It's easy to add or 
              remove only ONE click, What are you waiting for!?. Just drag your mouse and click login. HAVE FUN!</p>

           </div> 
         </div>
          <div class="col-md-6">
          <a href="/auth/facebook"><img src="/assets/img/fb_btn.png" alt=""></a>
         </div>
        </div>
   
</body>
</html>