<html>
<head>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body> 
    <div class="login-container">
        <a href="/auth/facebook">
         <button class="loginBtn loginBtn--facebook">
             Login with Facebook
         </button>
        </a>
    </div>    
</body>
</html>