<html>
<head>
    <link rel="stylesheet" href="/assets/css/site.min.css">
    <link href="https://fonts.googleapis.com/css?family=Mako" rel="stylesheet">   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/assets/delete.js"></script>
</head>
<body>
    <div class="col-12-md">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Bootflat</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                      <p class="navbar-text navbar-right"><a class="navbar-link" href="">Signed in as <%= user.displayName %> </a></p>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
         </div>
    <div class="container">
            <div class="list">
                <form method="POST" action ="/todo">
                    <div>
                        <input type="text" name="item" placeholder="add your task.." required>
                        <button type="submit" class="btn"><span>+</span> Add item</button>
                    </div>
                </form>
                <ul>
                    <% for(var i = todo.length -1; i >= 0; i--) { %>
                        <li><%=  todo[i].item %></li>
                    <% } %>
                </ul>
            <div> 
      </div>                 
</body>
</html>
