<html>
<head>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Mako" rel="stylesheet">   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/assets/delete.js"></script>
</head>
<body>
    <div class="container">
        <h1>..TODO_LIST..</h1>
            <div>
                <form method="POST" action ="/todo">
                    <div>
                        <input type="text" name="item" placeholder="add your task..">
                        <button type="submit" class="btn">Add item</button>
                    </div>
                </form>
                <ul>
                    <% for(var i = todo.length -1; i >= 0; i--) { %>
                        <li><%=  todo[i].item %></li>
                    <% } %>
                </ul>
            <div> 
      </div>                 
</body>
</html>
