body {
    background-color:#F0F0F0;
    font-family: 'Mako', sans-serif;
}
ul {
  list-style: none;
}
li {
  border: 1px solid #212B40;
  color: #212B40;
  margin-bottom: 5px;
  padding: 5px;
  transition: all 0.2s;
  border-radius: 3px;
  cursor: pointer;
}

li:hover {
  color: white;
  background-color: #212B40;
  padding: 10px;
  text-decoration: line-through
}
.navbar {
  background-color: #00AC65;
}
.navbar-brand {
  color: white;
}
.collapse a {
  color: white;
}

.btn {
  background-color: #212B40;
  transition: all 0.2s;
}
.btn:hover {
  color: #212B40;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

h1 {
  text-align: center;
  font-size: 13em;
  margin-bottom: 40px;
  line-height: 100px;
  animation-duration: 1s;
}
p { 
  text-indent: 50px;
  text-align: justify;
  margin-bottom: 30px;
  animation-delay: 1s;
  animation-duration: 1s;
}
a {
    animation-delay: 2s;
    animation-duration: 1s;
}

.loginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.logout {
  color: blue;
}

.err {
  font-size: 10em;
  font-weight: bold;
}
.errDe {
  font-size: 5em;
  font-weight: bold;
  line-height: 5px;
}