body {
    background-color:#ECF0F1;
    font-family: 'Mako', sans-serif;
}
.container {
    margin: auto;
    width: 70%;
    height: 50%;
    padding: 20px;
    text-align: center;
}

.container h1 {
    font-size: 4em;
}

.container input {
    padding: 15px;
    width: 60%;
    border-radius: 5px;
    background-color:  white;
}
.container button {
    margin-left: 20px;
    letter-spacing: 2px;
    color: white;
    font-weight: lighter;
    padding: 15px;
    border-radius: 25px;
    background-color: #4CD4B0;
}
.container button:hover {
    background-color: #1BBC9B;
}
.container ul {
    list-style-type: none;
}
.container li {
    color: #ECF0F1;
    font-size: 25px;
    font-weight: lighter;
    line-height: 50px;
    background-color:#E74C3C;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 0 10px 10px;
}
.container li:hover {
    text-decoration: line-through;
    background-color:#D04E33;
}

.list {
    width: 55%;
    margin: auto;
}


.login-container {
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


